var config = {
    expressPort: 3000,
    db_url: "mongodb://localhost:27017",
    redsky_host: "__YOUR_HOST_HERE__",
    redsky_path: "__PATH_TO_RELEVANT_API_SECTION__",
};

module.exports = config;
